[Unit]
Description=Custom startup scripts runner
After=network.target local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/scripts.d/startup-scripts.sh
RemainAfterExit=no
User=root

[Install]
WantedBy=multi-user.target
